@charset "UTF-8";


@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 100;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*neon effect*/
#ropa{
  text-align:center;
  font-size:3em;
  margin:20px 0 20px 0;
}

#tecnologia{
  text-align:center;
  font-size:3em;
  margin:20px 0 20px 0;
}

#comida{
  text-align:center;
  font-size:3em;
  margin:20px 0 20px 0;
}


a{
  text-decoration:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(3) a{
  color:#FF9900;   /*#FFDD1B*/
  /*font-family:Audiowide;*/
}

p:nth-child(4) a{
  color:#204a87;   /*#FFDD1B*/
  /*font-family:Audiowide;*/
}

p:nth-child(5) a{
  color:#4e9a06;   /*#FFDD1B*/
  /*font-family:Audiowide;*/
}


p:nth-child(3) a:hover{
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

p:nth-child(4) a:hover{
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}


p a:hover{
color:#ffffff;
}

/*glow for webkit-ket-frames*/
@-webkit-keyframes neon3 {
  from {
    text-shadow: /*0 0 10px #fff,*/
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: /*0 0 10px #fff,*/
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #73d216,
               0 0 70px  #73d216,
               0 0 80px  #73d216,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #73d216,
               0 0 35px #73d216,
               0 0 40px #73d216,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}



/*glow for mozilla-keyframes*/


@-moz-keyframes neon3 {
  from {
    text-shadow: /*0 0 10px #fff,*/
               /*0 0 20px  #fff,*/
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: /*0 0 10px #fff,*/
               /*0 0 20px  #fff,*/
               0 0 30px  #fff,
               0 0 40px  #73d216,
               0 0 70px  #73d216,
               0 0 80px  #73d216,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #73d216,
               0 0 35px #73d216,
               0 0 40px #73d216,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}

/*glow*/

@keyframes neon3 {
    from {
    text-shadow: /*0 0 10px #fff,*/
               /*0 0 20px  #fff,*/
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}


@keyframes neon4 {
    from {
    text-shadow: /*0 0 10px #fff,*/
               /*0 0 20px  #fff,*/
               0 0 30px  #fff,
               0 0 40px  #73d216,
               0 0 70px  #73d216,
               0 0 80px  #73d216,
               /*0 0 100px #FF9900,*/
               /*0 0 150px #FF9900;*/
  }
  to {
    text-shadow: /*0 0 5px #fff,*/
               /*0 0 10px #fff,*/
               0 0 15px #fff,
               0 0 20px #73d216,
               0 0 35px #73d216,
               0 0 40px #73d216,
               /*0 0 50px #FF9900,*/
               /*0 0 75px #FF9900;*/
  }
}